Repository nestorllamas91/terre-tropicale: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tsc --noEmmit, prettier --write

.lintstagedrc.json:

{
  "./src/**/*.{ts,tsx}": ["eslint", "tsc --noEmmit"],
  "**/*.{tsx,ts,css,js,json,md}": "prettier --write"
}

fix: modifications in the structure of the application
  .lintstagedrc.json
  package.json
Due: prettier --write

chore: modifications in the structure of the application
  .editorconfig
  .eslintignore
  .gitignore
  .lintstagedrc.js
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE.md
  README.md
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/app/a-propos/component.tsx
  src/app/accueil/component.tsx
  src/app/contact/component.tsx
  src/app/error-404/component.tsx
  src/app/error-500/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
  src/app/shared/globals.css
  src/app/shared/layout/component.tsx
  src/app/shared/layout/footer/component.tsx
  src/app/shared/layout/navigation-bar/component.tsx
  src/app/shared/layout/navigation-bar/menu-pages/component.tsx
  src/app/shared/layout/navigation-bar/shopping-cart/component.tsx
  src/app/shared/types.ts
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/a-propos.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/nos-cocktails.tsx
  src/pages/nos-smoothies.tsx
  tailwind.config.js
  tsconfig.json
Due: eslint, tsc --noEmmit, prettier --write

chore: modifications in the structure of the application
  .lintstagedrc.js
Due: prettier --write

chore: modifications in the structure of the application
  .lintstagedrc.js
  src/app/accueil/component.tsx
Due: eslint, tsc --noEmmit, prettier --write

chore: modifications in the structure of the application
  .github/workflows/pull-request.yaml
  jest.config.js
  package.json
Due: prettier --write

chore: modifications in the structure of the application
  package.json
  tsconfig.json
Due: prettier --write

chore: modifications in the structure of the application
  .gitignore
  package.json
Due: prettier --write

feat: add page nos smoothies
  public/assets/images/nos-smoothies/maracuja.jpg
  src/app/accueil/component.tsx
  src/app/nos-smoothies/component.tsx
  src/app/shared/layout/footer/component.tsx
  src/pages/_document.tsx
Due: eslint, tsc --noEmmit, prettier --write

feat: add page nos smoothies
  .github/workflows/pull-request.yaml
Due: none

feat: add page "nos cocktails"
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  public/assets/images/a-propos/header.jpg
  public/assets/images/accueil/header.jpg
  public/assets/images/contact/header.jpg
  public/assets/images/nos-smoothies/header.jpg
  src/app/accueil/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
  src/app/shared/layout/component.tsx
  src/app/shared/layout/navigation-bar/menu-pages/component.tsx
  src/app/shared/modules.d.ts
  src/app/shared/styles.css
  src/app/shared/types.ts
  src/data/cocktails.json
  src/data/smoothies.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  tailwind.config.js
  tsconfig.json
Due: eslint, tsc --noEmmit, prettier --write

feat: add page "a propos"
  src/app/a-propos/component.tsx
Due: eslint, tsc --noEmmit, prettier --write

feat: add page "contact"
  package-lock.json
  package.json
  src/app/a-propos/component.tsx
  src/app/accueil/component.tsx
  src/app/contact/component.tsx
  src/app/contact/controller.ts
  src/app/error-404/component.tsx
  src/app/error-500/component.tsx
  src/app/layout/component.tsx
  src/app/layout/footer/component.tsx
  src/app/layout/navigation-bar/component.tsx
  src/app/layout/navigation-bar/menu-pages/component.tsx
  src/app/layout/navigation-bar/shopping-cart/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
  src/app/shared/modules.d.ts
  src/app/shared/types.ts
  src/app/styles.css
  src/pages/_app.tsx
  src/pages/api/contact.ts
Due: eslint, tsc --noEmmit, prettier --write

feat: add page "contact"
  .env.production.local
  .gitignore
Due: none

feat: add page "contact"
  .env.production.local
  .eslintignore
  .gitignore
  .prettierignore
  src/app/contact/controller.ts
Due: eslint, tsc --noEmmit, prettier --write

chore: update the logo
  public/assets/images/logo/avatar.jpg
  public/assets/images/logo/avatar.png
  public/assets/images/logo/avatar.svg
  public/assets/images/logo/favicon.jpg
  public/assets/images/logo/favicon.png
  public/assets/images/logo/favicon.svg
  public/assets/images/logo/logo.jpg
  public/assets/images/logo/logo.png
  public/assets/images/logo/logo.svg
  public/favicon.png
  src/app/layout/footer/component.tsx
Due: eslint, tsc --noEmmit, prettier --write

chore: update the logo
  public/assets/images/logo/avatar.svg
Due: none

chore: update the assets
  src/app/a-propos/component.tsx
  src/app/accueil/component.tsx
  src/app/contact/component.tsx
  src/app/layout/navigation-bar/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
Due: eslint, tsc --noEmmit, prettier --write

chore: update the assets
  src/app/accueil/component.tsx
Due: eslint, tsc --noEmmit, prettier --write

chore: update the assets
  public/assets/logo/favicon.jpg
  public/assets/logo/favicon.png
  public/assets/logo/favicon.svg
  public/assets/logo/logo.jpg
  public/assets/logo/logo.png
  public/assets/logo/logo.svg
  public/assets/logo/symbol.jpg
  public/assets/logo/symbol.png
  public/assets/logo/symbol.svg
  public/favicon.png
  src/app/layout/navigation-bar/component.tsx
  src/pages/prueba.tsx
Due: eslint, tsc --noEmmit, prettier --write

chore: update the assets
  src/app/styles.css
  src/pages/prueba.tsx
Due: eslint, tsc --noEmmit, prettier --write

chore: update the assets
  src/app/prueba.tsx
  src/pages/prueba.tsx
Due: eslint, tsc --noEmmit, prettier --write

chore: update the assets
  src/app/prueba/component.tsx
  src/pages/prueba.tsx
Due: eslint, tsc --noEmmit, prettier --write

chore: update the assets
  src/app/prueba/component.tsx
Due: eslint, tsc --noEmmit, prettier --write

fix: improve the overall web design
  .github/workflows/pull-request-staging.yaml
  public/assets/images/cocktails/amazonia.jpg
  public/assets/images/cocktails/blackberry.jpg
  public/assets/images/cocktails/corossol-colada.jpg
  public/assets/images/cocktails/lulada.jpg
  public/assets/images/cocktails/pili-tropical.jpg
  public/assets/images/smoothies/ananas-fruit1.jpg
  public/assets/images/smoothies/corossol-fruit1.jpg
  public/assets/images/smoothies/goyave-fruit1.jpg
  public/assets/images/smoothies/lulo-fruit1.jpg
  public/assets/images/smoothies/mandarine-fruit1.jpg
  public/assets/images/smoothies/mangue-fruit1.jpg
  public/assets/images/smoothies/maracuja-fruit1.jpg
  public/assets/images/smoothies/mure-andine-fruit1.jpg
  public/assets/images/smoothies/papaye-fruit1.jpg
  public/assets/images/smoothies/tamarillo-fruit1.jpg
Due: none

fix: fix some stuff
  public/assets/images/fruits/ananas.jpg
  public/assets/images/fruits/collage/ananas.jpg
  public/assets/images/fruits/collage/corossol.jpg
  public/assets/images/fruits/collage/goyave.jpg
  public/assets/images/fruits/collage/lulo.jpg
  public/assets/images/fruits/collage/mandarine.jpg
  public/assets/images/fruits/collage/mangue.jpg
  public/assets/images/fruits/collage/maracuja.jpg
  public/assets/images/fruits/collage/mure-andine.jpg
  public/assets/images/fruits/collage/papaye.jpg
  public/assets/images/fruits/collage/tamarillo.jpg
  public/assets/images/fruits/corossol.jpg
  public/assets/images/fruits/goyave.jpg
  public/assets/images/fruits/lulo.jpg
  public/assets/images/fruits/mandarine.jpg
  public/assets/images/fruits/mangue.jpg
  public/assets/images/fruits/maracuja.jpg
  public/assets/images/fruits/mure-andine.jpg
  public/assets/images/fruits/papaye.jpg
  public/assets/images/fruits/tamarillo.jpg
  public/assets/images/smoothies/ananas-fruit2.jpg
  public/assets/images/smoothies/corossol-fruit2.jpg
  public/assets/images/smoothies/goyave-fruit2.jpg
  public/assets/images/smoothies/lulo-fruit2.jpg
  public/assets/images/smoothies/mandarine-fruit2.jpg
  public/assets/images/smoothies/mangue-fruit2.jpg
  public/assets/images/smoothies/maracuja-fruit2.jpg
  public/assets/images/smoothies/mure-andine-fruit2.jpg
  public/assets/images/smoothies/papaye-fruit2.jpg
  public/assets/images/smoothies/tamarillo-fruit2.jpg
  src/app/a-propos/component.tsx
  src/app/accueil/component.tsx
  src/app/contact/component.tsx
  src/app/layout/footer/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
  src/app/under-construction/component.tsx
  src/data/smoothies.json
  src/pages/under-construction.tsx
  vercel.json
Due: eslint, tsc --noEmmit, prettier --write

feat: add "maintenance mode" page
  src/app/a-propos/component.tsx
  src/app/accueil/component.tsx
  src/app/contact/component.tsx
  src/app/error-404/component.tsx
  src/app/error-500/component.tsx
  src/app/layout/footer/component.tsx
  src/app/maintenance/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
  src/app/styles.css
  src/app/under-construction/component.tsx
  src/pages/_app.tsx
  src/pages/under-construction.tsx
  vercel.json
Due: eslint, tsc --noEmmit, prettier --write

feat: add "maintenance mode" page
  src/app/styles.css
Due: prettier --write

feat: add responsive design and new icons system
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/accueil/component.tsx
  src/app/contact/component.tsx
  src/app/icon/component.tsx
  src/app/layout/component.tsx
  src/app/layout/footer/component.tsx
  src/app/layout/navigation-bar/component.tsx
  src/app/layout/navigation-bar/menu-pages/component.tsx
  src/app/layout/navigation-bar/shopping-cart/component.tsx
  src/app/maintenance/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
  src/app/styles.css
  src/data/icons.json
Due: eslint, tsc --noEmmit, prettier --write

fix: fix smoothie modal
  src/app/layout/component.tsx
  src/app/layout/navigation-bar/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
Due: eslint, tsc --noEmmit, prettier --write

feat: add slidable menu
  public/assets/images/desktop.ini
  src/app/a-propos/component.tsx
  src/app/accueil/component.tsx
  src/app/contact/component.tsx
  src/app/error-404/component.tsx
  src/app/error-500/component.tsx
  src/app/layout/navigation-bar/component.tsx
  src/app/maintenance/component.tsx
  src/app/nos-cocktails/component.tsx
  src/app/nos-smoothies/component.tsx
  src/app/shared/icon/component.tsx
  src/app/shared/layout/component.tsx
  src/app/shared/layout/footer/component.tsx
  src/app/shared/layout/menu/component.tsx
  src/app/styles.css
  src/app/styles/base.css
  src/app/styles/components.css
  src/app/styles/icon-menu.css
  src/app/styles/index.css
  src/app/styles/utilities.css
  src/data/icons.json
  src/pages/_app.tsx
Due: eslint, tsc --noEmmit, prettier --write

feat: add slidable menu
  src/app/shared/layout/menu/component.tsx
Due: eslint, tsc --noEmmit, prettier --write
